body{
    background-color: burlywood;
}

h1{
    color: crimson;
    font-size: 60px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border:10px solid red;
    border-radius: 50px;
    text-align: center;
    background-color: beige;
}

h2{
    color: crimson;
}

h3{
    color: crimson
}

p{
    color: blueviolet;
}

ol{
   list-style-type: none;
}

#heading-1-title{
    color: brown;
}

.list-item-1{
    color: blueviolet;
}